<div class="contentTop">
    <span class="pageTitle"><span class="@ViewData["IconName"]"></span>@ViewData["PageTitle"]</span>   
    @if (Request.IsAuthenticated)
    {
        <ul class="quickStats">
            
            <li>
                <div class="floatL">
                    <strong class="">Zalogowany jako, @ViewBag.CurrentReferee.FullName</strong>
                    <span>
                        <a href="/Home/Profile">Profil</a>
                        <a href="/Home/NewNominations">Nowe Nominacje</a>
                        <a href="/Home/Nominations">Nominacje</a>
                        <a href="/Account/LogOff">Wyloguj się</a>
                    </span>
                </div>
                
            </li>
        </ul> 
    }
    <div class="clear"></div>
</div>