@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Ooops, coś jednak poszło nie po naszej myśli";     
}
<div class="wrapper">
    <div class="widget fluid">
        <div class="body" style="text-align: center">
                <h2>Ooops, coś jednak poszło nie po naszej myśli!</h2>               
        </div>
    </div>    
</div>