@using Referee.Helpers 

@Html.Partial("_ContentTop", ViewData)

@Html.Partial("_CustomBreadcrumbBar", ViewData)
<script type="text/javascript" src="@Url.Content("~/Scripts/custom/custom.js")" ></script>

<div class="wrapper">
    <div class="fluid">
        <div class="widget grid6"></div>
        <div class="widget grid6"></div>
    </div>
</div>