<div class="wrapper">
    <div class="widget fluid">
        <div class="body" align="center">
            <span class="@ViewBag.Class">@ViewBag.Message</span>
        </div>        
    </div>
</div>

