@model Referee.Models.Nomination
<div class="grid3">
    @Html.LabelFor(model => model.Published)
</div>
<div class="grid6" id="BoxPublish">
    @Html.DisplayFor(model => model.Published)
</div>
<div class="grid3" id="BoxPublishButtons">
    <a href="#" id="publish" class="buttonS bGreen">Zmień</a>
</div>
<div class="clear"></div>