@Html.Partial("_ContentTop", ViewData)
@Html.Partial("_CustomBreadcrumbBar", ViewData)
<div class="wrapper">
    <div class="widget">
        <p>Hasło zostało poprawnie zmienione!</p>
    </div>
</div>
